<div>
  <div>
    <img src="http://placehold.it/820x230"/>
    <h5>
      评分：<app-stars [rating]="product?.rating | number:'.0-0' "></app-stars>
    </h5>
    <!--<h5>-->
      <!--{{product?.id}}-->
    <!--</h5>-->
    <h5>
      产品名称：{{product?.title}}
    </h5>
    <h5>
      产品描述：{{product?.desc}}
    </h5>
    <h5>
      定投价格：{{product?.price}}
    </h5>
  </div>
  <!-- 关注 -->
  <div class="thumbnail">
      <div class="btn btn-default btn-lg"
           [class.active]="isAttention"
           (click)="takeAttention()"
      >
        {{isAttention?'关注':'取消关注'}}
      </div>
      <label>最新出价：{{newPrice | number : '.2-2'}}</label>
  </div>

  <div>
    <div>
      <div><button class="btn-success" (click)="isComentHidden = !isComentHidden " >评论</button></div>
    </div>
    <div [hidden]="isComentHidden">
      <div><app-stars [readonly]="false"  [(rating)]="newRating"></app-stars></div>
      <div><textarea [(ngModel)]="newComment" required minlength="10"></textarea></div>
      <div><button (click)="addComment()" >提交</button></div>
    </div>
  </div>
  <!-- 评论 -->
  <div>
    <div *ngFor="let comment of comments">
      <div>
        <h5>
          <!-- 属性绑定 -->
          <app-stars [rating]="comment.start"></app-stars>
          <!-- 值表达式 -->
          --{{comment.comentId}}
          --{{comment.content}}
          --{{comment.persion}}
          --{{comment.Time}}
        </h5>
      </div>
    </div>
  </div>
</div>
