<!--<div class="row">-->
  <!--<div class="col-sm-12">-->
    <!--<div class="form-group">-->
            <!--<input class="form-control"  placeholder="请输入商品名称" [formControl]="filterTitle" >-->
     <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--<div *ngFor="let product of product | productFileter:'title':keyWorld" class="col-md-4 col-sm-4 col-lg-4">-->
<div *ngFor="let product of product | async" class="col-md-4 col-sm-4 col-lg-4">
   <div class="thumbnail">
     <!--属性绑定-->
      <img [src]= 'imgUrl'>
      <div class="caption">
         <h4 class="pull-right">{{product.price}}</h4>
         <h4><a [routerLink]="['/product',product.id]">{{product.title}}</a></h4>
         <p>{{product.desc}}</p>
      </div>
   </div>
   <div>
     <app-stars [rating]="product.rating"></app-stars>
   </div>
</div>
